{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Biz haqimizda ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Saytga Xush Kelibsiz!</p>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <center>
                <div>
                    <br/><br/>
                    <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque dui ut tincidunt eleifend. Aenean feugiat mauris mattis eros aliquam congue. Fusce placerat quis erat id dapibus. Nulla in lectus sed tellus tempus sollicitudin non et justo. Ut at sapien consectetur, egestas risus non, bibendum urna. Maecenas sit amet turpis dictum orci elementum vestibulum eu vitae justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis feugiat justo, sed mollis enim vulputate eget. Curabitur laoreet sodales elit vel hendrerit. Donec eget ipsum vitae erat finibus posuere ac sed justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam condimentum nisl lorem, dictum ultricies est sagittis nec. Nulla ac tincidunt orci, at varius odio.
                    <br/><br/>
                    Curabitur tincidunt, velit eget fringilla malesuada, justo turpis convallis velit, vitae convallis nisi sapien a tortor. Suspendisse facilisis ex ac euismod lacinia. Cras non aliquam urna. Aliquam rhoncus maximus iaculis. Sed nec nibh vel metus ornare suscipit sit amet sed erat. Pellentesque mauris augue, pulvinar sit amet pretium nec, elementum quis lorem. Suspendisse ante ligula, mattis at risus at, faucibus posuere sem. Suspendisse venenatis in eros nec gravida. Nullam mi lectus, mollis ac est ac, viverra volutpat velit. Mauris lobortis facilisis mauris, blandit commodo arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque tincidunt pellentesque ante, at interdum libero laoreet eget. Nulla auctor eleifend diam vel volutpat. Nulla non orci lectus. Integer consectetur, mauris quis commodo egestas, diam elit bibendum risus, vel bibendum libero sem ac sapien.
                    <br/><br/>
                    Aenean at urna sit amet velit luctus porttitor in vitae urna. Ut lectus ipsum, sodales at efficitur vel, malesuada vel nibh. Nulla eget nulla sit amet felis pulvinar vestibulum quis nec nibh. In porta, justo sit amet varius consequat, lacus augue vestibulum eros, at suscipit ligula enim sit amet leo. Vivamus vel dapibus enim, sed rhoncus urna. Phasellus quis nulla in mauris consectetur cursus nec non dui. Praesent at nisl sit amet nunc faucibus fringilla quis et nunc.
                    </p>
                    <br/><br/>
                    </div>
            </center>
        </div>
    </div>
{% endblock %}